<div class="rounded-5 bg-white p-5">
    <form [formGroup]="formularioAutor" (ngSubmit)="autorSeleccionado.id != null ? actualizarAutor() : crearAutor()"
        class="form">
        <div class="form__title-button-container">
            <div class="form__title">Formulario de autores</div>
            <div class="text-color-1 btn-eliminar" *ngIf="autorSeleccionado.id != null" (click)="deleteAutor()"
                [ngClass]="{'deshabilitado': !sePuedeBorrar, 'notransition': !sePuedeBorrar, 'habilitado': sePuedeBorrar}">
                <i class="fa-solid fa-trash fa-lg"></i>
            </div>
        </div>
        <label for="nombre" class="form__label">Nombre del autor:</label>
        <input formControlName="nombre" type="text" class="form__input" id="nombre" placeholder="Ingrese el nombre"
            [(ngModel)]="autorSeleccionado.nombre"
            [ngClass]="{'form__input--invalid': nombre.invalid && !nombre.pristine}" />

        <div class="text-danger mensajes-error" [hidden]="nombre.valid || nombre.pristine">
            <ul>
                <li *ngIf="nombre.errors?.['required']">
                    El campo de nombre es obligatorio. Por favor, completa este campo.
                </li>
            </ul>
        </div>

        <label for="apellido" class="form__label">Apellido del autor:</label>
        <input formControlName="apellido" type="text" class="form__input" id="apellido"
            placeholder="Ingrese el apellido" [(ngModel)]="autorSeleccionado.apellido"
            [ngClass]="{'form__input--invalid': apellido.invalid && !apellido.pristine}" />
        <div class="text-danger mensajes-error" [hidden]="apellido.valid || apellido.pristine">
            <ul>
                <li *ngIf="apellido.errors?.['required']">
                    El campo de apellido es obligatorio. Por favor, completa este campo
                </li>
            </ul>
        </div>

        <label for="correo" class="form__label">Correo del autor:</label>
        <input formControlName="correo" type="email" class="form__input" id="correo"
            placeholder="Ingrese el correo (Ejemplo: correo@dominio.com)" [(ngModel)]="autorSeleccionado.correo"
            [ngClass]="{'form__input--invalid': correo.invalid && !correo.pristine}" />
        <div class="text-danger mensajes-error" [hidden]="correo.valid || correo.pristine">
            <ul>
                <li *ngIf="correo.errors?.['required']">
                    El campo de correo es obligatorio. Por favor, completa este campo.
                </li>
                <li *ngIf="correo.errors?.['email']">
                    El campo de correo debe tener un formato válido, como ejemplo@dominio.com.
                </li>
            </ul>
        </div>
        <div class="h-buttons-container">
            <button [disabled]="formularioAutor.invalid" class="form__button form__button--principal">
                {{autorSeleccionado.id != null ? 'Actualizar' : 'Guardar'}}
            </button>

            <button type="button" (click)="cancelar()" class="form__button form__button--secondary">
                Cancelar
            </button>
        </div>
    </form>
</div>