<footer class="bg-2 p-4 text-white d-flex flex-column">
    <p class="mx-auto text-center">Práctica de Angular con conexión a <a href="https://github.com/aPonce2001/NoticiasAPI"
            class="text-decoration-none"><button class="btn-github fw-bold"><i class="fa-brands fa-github"></i> Noticias
                API</button></a></p>
    <p class="mx-auto"><span class="fw-bold">Autor: </span>Andrés Ponce</p>
    <p class="fs-3">
        <a class="text-decoration-none text-white" href="https://github.com/aPonce2001">
            <i class="fa-brands fa-github"></i>
        </a>
        <a class="text-decoration-none text-white"
            href="https://www.linkedin.com/in/andr%C3%A9s-ponce-c%C3%B3rdova-bb2181170/">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </p>
</footer>